body {
  color: #ffffff;
  overflow: hidden;
}

@media (max-width: 1023px) {
  body {
    height: 100svh;
  }
}

@media only screen and (max-width: 1023px) and (hover: none) and (pointer: coarse) {
  input,
  select,
  textarea {
    font-size: 11px;
  }

  input:focus,
  select:focus,
  textarea:focus {
    font-size: 16px;
  }
}

.markdown > * {
  all: revert;
}
