* {
  scrollbar-width: thin;
  scrollbar-color: #ffffff40 #ffffff19;
}

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #ffffff19;
}

*::-webkit-scrollbar-thumb {
  background-color: #ffffff40;
}

::-webkit-scrollbar-thumb:active {
  background-color: #ffffff90;
}

@media (max-width: 1023px) {
  ::-webkit-scrollbar {
    width: 0px;
  }
  body {
    overflow-y: auto;
  }
}
