@media (max-width: 389px) {
  body {
    height: calc(100vh / 0.9);
    zoom: 90%;
  }

  .nozoom {
    zoom: calc(100% / 0.9);
  }

  .slider {
    transform: scale(0.9);
    transform-origin: left;
    width: calc(100% / 0.9);
  }
}

@media (min-width: 1024px) {
  body {
    height: calc(100vh / 0.4);
    zoom: 40%;
  }

  .nozoom {
    zoom: calc(100% / 0.4);
  }

  .slider {
    transform: scale(0.4);
    transform-origin: left;
    width: calc(100% / 0.4);
  }
}

@media (min-width: 1140px) {
  body {
    height: calc(100vh / 0.5);
    zoom: 50%;
  }

  .nozoom {
    zoom: calc(100% / 0.5);
  }

  .slider {
    transform: scale(0.5);
    transform-origin: left;
    width: calc(100% / 0.5);
  }
}

@media (min-width: 1365px) {
  body {
    height: calc(100vh / 0.6);
    zoom: 60%;
  }

  .nozoom {
    zoom: calc(100% / 0.6);
  }

  .slider {
    transform: scale(0.6);
    transform-origin: left;
    width: calc(100% / 0.6);
  }
}

@media (min-width: 1595px) {
  body {
    height: calc(100vh / 0.7);
    zoom: 70%;
  }

  .nozoom {
    zoom: calc(100% / 0.7);
  }

  .slider {
    transform: scale(0.7);
    transform-origin: left;
    width: calc(100% / 0.7);
  }
}

@media (min-width: 1820px) {
  body {
    height: calc(100vh / 0.8);
    zoom: 80%;
  }

  .nozoom {
    zoom: calc(100% / 0.8);
  }

  .slider {
    transform: scale(0.8);
    transform-origin: left;
    width: calc(100% / 0.8);
  }
}

@media (min-width: 2050px) {
  body {
    height: calc(100vh / 0.9);
    zoom: 90%;
  }

  .nozoom {
    zoom: calc(100% / 0.9);
  }

  .slider {
    transform: scale(0.9);
    transform-origin: left;
    width: calc(100% / 0.9);
  }
}

@media (min-width: 2280px) {
  body {
    height: 100vh;
    zoom: 100%;
  }

  .nozoom {
    zoom: 100%;
  }

  .slider {
    transform: scale(1);
    transform-origin: left;
    width: 100%;
  }
}
