@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #ffffff;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #ffffff40 #ffffff19;
}

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #ffffff19;
}

*::-webkit-scrollbar-thumb {
  background-color: #ffffff40;
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
